<head>
    <link href="~/Content/css/app.css" rel="stylesheet" />
</head>

<style>
    a:hover {
        text-decoration: none;
    }
</style>


    <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar" data-simplebar="init">
            <div class="simplebar-wrapper" style="margin: 0px;">
                <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                        <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
                            <div class="simplebar-content" style="padding: 0px;">
                                <a class="sidebar-brand d-block text-center" href="#">
                                    <h4 class="align-middle text-light">Quotation Maker</h4>
                                </a>

                                <ul class="sidebar-nav">

                                    <li class="sidebar-item active">
                                        <a class="sidebar-link d-flex align-items-center" href="#">
                                            <i class="fa fa-bar-chart"></i>
                                            <span class="align-middle ms-2 p-0">Dashboard</span>
                                        </a>
                                    </li>

                                    <li class="sidebar-item">
                                        <a class="sidebar-link d-flex align-items-center" href="#">
                                            <i class="fa fa-user-circle"></i>
                                            <span class="align-middle ms-2 p-0">Profile</span>
                                        </a>
                                    </li>

                                    <li class="sidebar-item">
                                        <a class="sidebar-link d-flex align-items-center" href="#">
                                            <i class="fa fa-sign-out"></i>
                                            <span class="align-middle ms-2 p-0">Sign-out</span>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div><div class="simplebar-placeholder" style="width: auto; height: 957px;"></div>
            </div>

            <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                <div class="simplebar-scrollbar" style="width: 0px; display: none;">

                </div>
            </div>

            <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                <div class="simplebar-scrollbar" style="height: 493px; transform: translate3d(0px, 0px, 0px); display: block;">
                </div>
            </div>

        </div>
    </nav>
