<!-- From Uiverse.io by dilmurod_3869 -->
<link href="~/Content/Loader.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container d-flex justify-content-center align-items-center">
    <div class="typewriter">
        <div class="slide"><i></i></div>
        <div class="paper"></div>
        <div class="keyboard"></div>
    </div>
</div>


<script src="~/Scripts/bootstrap.min.js"></script>
